.idea/
*.iml
*.jar
**/target/
.vscode
**/out/

qrCode.jpg

### Gradle ###
.gradle/
build/
.kotlin/
!gradle/wrapper/gradle-wrapper.jar

### ClockWork ###
# Configuration personnelle et liste des sorts générée
rotation.yaml
rotation.spells.json
